# merging dense output from distributed grid search
Timothy Tyree<br>
3.27.2021

In [1]:
from lib.my_initialization import *

In [2]:
import cudf

In [4]:
#find the data
data_folder=f'{nb_dir}/data/osg_output/Log'
os.chdir(data_folder)
fn_lst=os.listdir()
input_fn_lst=[]
for fn in fn_lst:
    if fn.find('.out.')!=-1:
        input_fn_lst.append(fn)
print(len(input_fn_lst))

6771

In [13]:
#merge the data into one dataframe
df_lst=[]
for input_fn in input_fn_lst:
    df=parse_output_log(input_fn, include_inputs=True,printing=False)
    if df is not None:
        # Ntrials=df.index.values.shape[0]
        Nmin=11
        df.drop(columns=[f'{i}' for i in range(Nmin)], inplace=True)
        df.dropna(inplace=True)
        df=cudf.from_pandas(df)
        df_lst.append(df)
df_merge=cudf.concat(df_lst)
df_merge.head()

Warning: n_input not found for input_fn=job.out.8623404.1624.
returning None...
Warning: n_input not found for input_fn=job.out.8623404.130.
returning None...
Warning: n_input not found for input_fn=job.out.8623404.1587.
returning None...
Warning: n_input not found for input_fn=job.out.8623404.900.
returning None...
Warning: n_input not found for input_fn=job.out.8623404.2306.
returning None...
Warning: n_input not found for input_fn=job.out.8623404.851.
returning None...
Warning: n_input not found for input_fn=job.out.8623404.473.
returning None...
Warning: n_input not found for input_fn=job.out.8623404.635.
returning None...
Warning: n_input not found for input_fn=job.out.8623404.7.
returning None...

,11,12,13,14,15,16,17,18,19,20,...,65,66,67,68,69,r,D,L,kappa,dt
0,1.04653,1.04653,1.04653,1.04653,1.04653,1.04653,1.04653,1.04653,1.04653,1.04653,...,0.66522,0.66522,0.66522,0.66522,0.66522,0.1,0.25,12.5,10,0.00001
1,5.31987,5.31987,5.31987,5.31987,5.31987,5.31987,5.31987,5.31987,5.31987,5.31987,...,0.65067,0.65067,0.18481,0.18481,0.18481,0.1,0.25,12.5,10,0.00001
2,26.59837,0.82981,0.82981,0.82981,0.82981,0.82981,0.82981,0.82981,0.82981,0.82981,...,0.56274,0.56274,0.56274,0.56274,0.56274,0.1,0.25,12.5,10,0.00001
3,6.02071,3.98612,3.98612,3.98612,0.56376,0.56376,0.56376,0.56376,0.56376,0.56376,...,0.02238,0.02238,0.02238,0.02238,0.02238,0.1,0.25,12.5,10,0.00001
4,34.15613,34.15613,33.03166,5.15953,1.50580,1.50580,1.50580,1.50580,1.50580,1.50580,...,0.16851,0.16851,0.16851,0.16851,0.16851,0.1,0.25,12.5,10,0.00001

In [14]:
df_merge.head()

,11,12,13,14,15,16,17,18,19,20,...,65,66,67,68,69,r,D,L,kappa,dt
0,1.04653,1.04653,1.04653,1.04653,1.04653,1.04653,1.04653,1.04653,1.04653,1.04653,...,0.66522,0.66522,0.66522,0.66522,0.66522,0.1,0.25,12.5,10,0.00001
1,5.31987,5.31987,5.31987,5.31987,5.31987,5.31987,5.31987,5.31987,5.31987,5.31987,...,0.65067,0.65067,0.18481,0.18481,0.18481,0.1,0.25,12.5,10,0.00001
2,26.59837,0.82981,0.82981,0.82981,0.82981,0.82981,0.82981,0.82981,0.82981,0.82981,...,0.56274,0.56274,0.56274,0.56274,0.56274,0.1,0.25,12.5,10,0.00001
3,6.02071,3.98612,3.98612,3.98612,0.56376,0.56376,0.56376,0.56376,0.56376,0.56376,...,0.02238,0.02238,0.02238,0.02238,0.02238,0.1,0.25,12.5,10,0.00001
4,34.15613,34.15613,33.03166,5.15953,1.50580,1.50580,1.50580,1.50580,1.50580,1.50580,...,0.16851,0.16851,0.16851,0.16851,0.16851,0.1,0.25,12.5,10,0.00001

In [16]:
#save resulting dataframe to .csv
os.chdir(data_folder)
os.chdir('..')
data_fn='run_1_merged.csv'
df_merge.to_csv(data_fn,index=False)

In [18]:
beep(5)

0